*{
	margin: 0;
	box-sizing: border-box;
}
html,body{
	padding: 0;
	margin: 0;
	width: 100%;
	overflow-x: hidden;
}
@font-face{
	src: url(../fonts/Montserrat-Bold.ttf);
	font-family: Mb;
}
@font-face{
	src: url(../fonts/Montserrat-Medium.ttf);
	font-family: Mm;
}
@font-face{
	src: url(../fonts/Montserrat-Regular.ttf);
	font-family: Mr;
}
@font-face{
	src: url(../fonts/Lobster-Regular.ttf);
	font-family: Lobster;
}
/* Menu Ber */
.top-nav-collapse{
	background: #fff;
	box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.6);
	border-bottom: 3px solid #FF5722;
	transition: all .5s;
}
.top-nav-collapse .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0,0.5);
}
.mainHeader{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 999;
}
.main-nav.top-nav-collapse .navbar-nav>li>a{
	color: #555;
}
.mr-auto, .mx-auto {
    margin-right: 0 !important;
}
.mr-auto, .mx-auto {
	margin-left: auto !important;
}
.navbar-expand-lg .navbar-nav {
    text-transform: uppercase;
}
.navbar-light .navbar-nav .active > 
.nav-link, .navbar-light 
.navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
    color: #fe8725;
}
.navbar-light .navbar-nav .nav-link {
    color: #f1f1f1;
	font-size: 16px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fe8725;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
}
.bg-light {
    background-color: transparent !important;
}
.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255,0.5);
}
/* End Menu Ber */
/* Start header section */
.logo img{
	width: 200px;
}
#headerSection{
	padding-top: 200px;
	color: #fff;
	background: url(../img/BG/bg.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
#headerSection::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .5);
	z-index: 0;
}
.header{
	margin-left: 115px;
	margin-top: 10px;
}
.header p{
	font-size: 20px;
	font-family: Mm;
}
.header h1{
	font-size: 60px;
	font-family: Mb;
}
.header span{
	color: #FF5722;
}
.header h3{
	font-size: 24px;
	font-family: Mr;
}
.fontIcon {
    margin-top: 20px;
}
.fontIcon a{
	font-size: 20px;
	padding: 0 5px;
	color: #FF5722;
}
.fontIcon i{
	transition: .5s;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	text-align: center;
	border: 1px solid #FF5722;
	line-height: 35px;
}
.fontIcon i:hover{
	color: #fff;
	background: #ff5722;
}
.headerImg img {
    margin-right: 40px;
	box-shadow: 0px 0px 5px #000;
	max-width: 350px;
	height: auto;
    z-index: 2;
    position: relative;
    border: 4px solid #FF5722;
	width: 100%;
}
/* End header section */
/* Start about section */
#aboutSection{
	padding: 95px 0;
	background: #f6f6f6;
	color: #555;
	position: relative;
}
#aboutSection::before {
    content: "";
    position: absolute;
    top: -80px;
    width: 100%;
    height: 140px;
    background: #f6f6f6;
    z-index: 0;
    transform: skewY(-3deg);
}
/* Title */
.title{
	margin-bottom: 60px;
}
.title h2{
	font-size: 36px;
	font-family: Mb;
	color: #555;
}
.underline{
	border-bottom: 2px solid #FF5722;
	width: 130px;
	position: relative;
	margin: 0 auto;
}
.underline:after{
	content: '';
	width: 15px;
	height: 15px;
	border: 2px solid #555;
	border-radius: 100%;
	display: block;
	position: absolute;
	right: -15px;
	bottom: -9px;
}
.underline:before{
	content: '';
	width: 15px;
	height: 15px;
	border: 2px solid #555;
	border-radius: 100%;
	display: block;
	position: absolute;
	right: 130px;
	bottom: -9px;
}
.underline2{
	width: 115px;
	margin: 0 auto;
	margin-top: 5px;
	height: 2px;
	background: -webkit-linear-gradient( left, rgba(0,0,0,0), rgb(0,0,0,.5), rgba(0,0,0,0));
}
/* Title*/
.aboutSec {
    max-width: 630px;
    height: auto;
    padding: 10px;
    text-align: justify;
}
.aboutSec h2{
	font-size: 20px;
	font-family: Mm;
}
.aboutSec p{
	font-size: 16px;
	line-height: 25px;
}
.aboutSec span{
	color: #000;
	text-decoration: underline;
}
.aboutSec span:hover{
	color: #fe7e11;
}
.box{
	max-width: 350px;
	height: 390px;
	background: #fff;
	position: relative;
	margin-top: 25px;
}
.box::after {
    content: "";
    position: absolute;
    border-bottom: 6px solid #ff5722;
    border-left: 10px solid #ff5722;
    bottom: -12px;
    left: -20px;
    width: 370px;
    height: 402px;
}
.box img{
	position: absolute;
	bottom: 0;
	right: 50px;
	padding: 4px;
	border: 1px solid #ddd;
	max-width: 240px;
	height: auto;
}
@Keyframes photoSlider{
	from{transform:translateX(0px)}
	to{transform:translateX(107px)}
}
table{
	margin-top: 25px;
}
td {
    padding-right: 110px;
    line-height: 30px;
}
.btn{
	font-family: Mb;
	font-size: 18px;
	text-transform: uppercase;
	background: #fd905e;
	color: #fff;
	margin-top: 25px;
	padding: 5px 20px;
	border-radius: 0;
}
.btn:hover{
	background: #ff5722;
	border: 1px solid #ff5722;
	color: #fff;
}
/* End about section */
/* Start service section */
#serviceSection{
	padding: 95px 0;
	color: #555;
}
.service{
	background: #f6f6f6;
	padding: 10px;
	margin: 15px 0;
	transition: .5s;
	height: 200px;
	margin-top: 45px;
}
.service .number {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    opacity: 0.150;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 0;
}
.iconSec {
    margin-top: 15px;
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
}
.service .icon{
	width: 65px;
	height: 65px;
	transition: .5s;
	border: 1px solid #ff5722;
	transform: rotate(45deg);
	position: relative;
	margin: auto;
	background: #fff;
}
.service:hover .icon{
	background: #FF5722;
	border: 1px solid #ff5722;
}
.mainIcon {
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
}
.mainIcon i{
	font-size: 30px;
	color: #ff5722;
	transition: .5s;
}
.service:hover .mainIcon i{
	color: #fff;
}
.service h2{
	text-transform: uppercase;
	font-size: 16px;
	font-family: Mb;
	margin-top: 70px;
}
.service p {
    font-size: 14px;
}
.service:hover{
	box-shadow: 0px 3px 20px 0 #0003;
}
/* End service section */
/* Start counterup section */
#counterupSection{
	padding: 95px 0;
	background: url(../img/BG/bg2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}
#counterupSection::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#00000080,#00000080),linear-gradient(#00000080,#00000080);
}
.counterUp{
	background: rgba(0,0,0, .8);
	padding: 20px 5px;
}
.counterUp i{
	font-size: 40px;
	color: #fff;
}
.counterUp span{
	display: block;
	font-size: 36px;
	color: #ff5722;
}
.counterUp h3{
	font-size: 18px;
	font-family: Mr;
	color: #fff;
}
/* End counterup section */
/* Start skills section */
#skillesSection{
	padding: 95px 0;
}
.about-col {
    margin-top: 30px;
}
.about-col h5{
	margin-bottom: 20px;
	font-size: 18px;
}
#skillesSection .progress{
	height: 5px;
	border-radius: 0;
	margin-bottom: 20px;
}
.progress-bar{
	width: 0px;
	height: 5px;
	background: #ff5722;
}
.images2 img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid #ff5722;
}
.about-col2 h1{
	font-family: Mb;
	margin-top: 20px;
	color: #555;
}
.about-col2 h5{
	font-family: Mm;
	color: #555;
}
.link ul{
	padding: 0;
	list-style: none;
}
.link ul li{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 5px;
	margin-top: 20px;
	border-radius: 100%;
	border: 1px solid #ff5722;
	line-height: 35px;
	cursor: pointer;
	transition: all .5s;
}
.link ul li a{
	font-size: 20px;
	color: #555;
	transition: all .5s;
}
.link ul li:hover{
	background: #ff5722;
}
.link ul li:hover a{
	color: #FFF;
}
.contactBtn{
	margin-top: 40px;
}
.contactBtn a{
	text-decoration: none;
	color: #fff;
}
.contact{
	background: #ff5722;
	border: 0;
	padding: 10px 20px;
	font-size: 18px;
	color: #fff;
	font-family: Mr;
	border-radius: 30px;
	transition: all .5s;
	border: 1px solid #ff5722;
}
.contact:hover{
	background: transparent;
	border: 1px solid #ff5722;
	color: #555;
}
/* End skills section */
/* Start protfolio section */
/* ---- button ---- */
#protfolioSection{
	padding: 95px 0;
	background: #f6f6f6;
}
.card-img, .card-img-bottom, .card-img-top {
    padding: 3px;
    border: 1px solid #ff572252;
}
ul.filters{
	margin: 0;
	display: block;
	padding: 0;
}
ul.filters li{
	list-style: none;
	display: inline-block;
	padding: 5px 20px;
	background: #fff;
	box-shadow: 0 0px 4px 0px #666;
    max-width: 130px;
	height: auto;
	cursor: pointer;
	margin: 0 5px;
}
ul.filters li.active{
	background: #ff5722;
}
ul.filters li.active a{
	color: #fff;
}
ul.filters li a{
	text-decoration: none;
	color: #555;
	text-transform: uppercase;
	font-family: Mr;
	font-size: 12px;
	border-radius: 3px;
}
.projectSec{
	margin-top: 40px;
}
.project{
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}
.cardOverlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	background: rgba(0,0,0, .5);
	transition: all .5s;
}
ul.cardLink{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .5s;
}
ul.cardLink li{
	list-style: none;
	display: inline-block;
}
ul.cardLink li a{
	width: 45px;
	height: 45px;
	background: #ff5722;
	border-radius: 100%;
	margin: 0 5px;
	cursor: pointer;
	display: block;
	line-height: 45px;
	color: #fff;
	font-size: 20px;
}
/*LightBox*/
.lightBox{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .6);
	z-index: 100;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: zoom-out;
}
.lightBox.open{
	display: flex;
}
.lightBox .lightBoxContainer{
	position: relative;
}
.lightBoxContainer .lightBoxClose{
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	width: 40px;
	height: 40px;
	font-size: 22px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	cursor: zoom-out;
}
.lightBoxContainer .lightBoxImg{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 500px;
	padding: 40px 0;
	cursor: pointer;
	animation: lightboxImg .5s ease;
}
@keyframes lightboxImg{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}
.lightBoxCaption{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 10px;
	font-size: 16px;
	color: #fff;
	font-family: Mr;
	display: flex;
	justify-content: right;
	z-index: -1;
}
.lightBox .lightBoxControls div{
	position: absolute;
	top: 50%;
	width: 40px;
	height: 40px;
	background: #ff57226e;;
	text-align: center;
	line-height: 40px;
	font-size: 24px;
	font-family: Mb;
	border-radius: 100%;
	margin-top: -20px;
	cursor: pointer;
	color: #fff;
	transition: all .5s;
}
.lightBox .lightBoxControls div:hover{
	background: #ff5722;
}
.lightBox .lightBoxControls div.prev{
	left: 40px;
}
.lightBox .lightBoxControls div.next{
	right: 40px;
}
/*LightBox*/
/* End protfolio section */
/* Start hire section */
#hireSection{
	padding: 95px 0;
	background: url("../img/BG/bg3.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
#hireSection::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.aboutProject {
    max-width: 450px;
    text-align: left;
    margin: auto;
}
.aboutProject h1{
	font-size: 36px;
	font-family: Mb;
	color: #ff5722;
}
.aboutProject p{
	font-size: 16px;
	font-family: Mr;
	color: #fff;
}
.hireBtn{
	margin-top: 60px;
}
.hireBtn a{
	text-decoration: none;
	color: #fff;
	font-family: Mb;
}
.hire{
	background: #ff5722;
	border: 0;
	padding: 10px 35px;
	font-size: 18px;
	color: #fff;
	font-family: Mr;
	border-radius: 30px;
	transition: all .5s;
	border: 1px solid #ff5722;
}
.hire:hover{
	background: transparent;
	border: 1px solid #ff5722;
	color: #ddd;
}
/* End hire section */
/* Start testimonials section */
#testimonialSection{
	padding: 95px 0;
}
.carousel-item img{
	width: auto;
	height: auto;
	border-radius: 100%;
	position: absolute;
	top: -30%;
	left: 0;
	right: 0;
	margin: auto;
	border: 2px solid #ff5722;
}
.carousel-item p{
	color: #555;
    margin: auto;
    font-family: Mr;
	font-size: 14px;
	margin-bottom: 20px;
	height: auto;
}
.carousel-item p span{
	font-size: 16px;
	color: #ff5722;
}
.carousel-item  h1{
	font-family: Mb;
	font-size: 22px;
	color: #555;
	padding-top: 120px;
}
.carousel-item  h3{
	font-family: Mr;
	margin-bottom: 20px;
	font-size: 18px;
	color: #555;
}
.carousel-control-next-icon {
	background: url("../img/right.svg");
}
.carousel-control-prev-icon {
    background: url("../img/right.svg");
	transform: rotate(180deg);
}
.carousel-control-next{
	margin-top: 122px;
}
.carousel-control-prev{
	margin-top: 122px;
}
.carousel-indicators li{
	background-color: #FF5722;
}
.carousel-indicators{
	bottom: -90px;
}
.carouselContainer{
	max-width: 700px;
	height: 350px;
	background: #f6f6f6;
	margin: auto;
	position: relative;
	margin-top: 120px;
	padding: 15px;
}
/* End testimonials section */
/* Start contact section */
#contactSection{
	padding: 95px 0;
	background: #f6f6f6;
}
.contactSec{
	background: #ffffff;
	padding: 15px 15px 15px 80px;
	box-shadow: 0px 0px 10px #00000045;
	width: 300px;
	position: relative;
	display:inline-block;
}
.cont-icon i {
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    color: #ff5722;
    font-size: 30px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactSec:hover .cont-icon i{
	color: #fff;
	transform: scale(0.8);
	background: #ff5722;
}
.cont-text p{
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	font-family: Mr;
	color: #555;
}
.cont-icon {
    width: 50px;
    height: 50px;
    border: 2px solid #ff5722;
    float: left;
    position: absolute;
    top: 12px;
    left: 15px;
}
.contact-form{
	max-width: 600px;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
	font-size: 16px;
	font-family: Mr;
}
.input-tag input{
	display: block;
}
.input-tag input[type="text"],
.input-tag input[type="email"]{
	padding: 5px 10px;
	width: 100%;
	border:0;
	margin: 10px 0;
	box-sizing: border-box;
	color: #555;
}
.input-tag textarea{
	width: 100%;
	box-sizing: border-box;
	height: 200px;
	border: 0;
}
.input-tag input[type="submit"]{
	font-size: 20px;
	font-weight: bold;
	padding: 5px 15px;
	width: 100%;
	margin-top: 5px;
	transition: 0.5s;
	background:#fff;
	color: #555;
	border: 0;
	text-transform: uppercase;
}
.input-tag input[type="submit"]:hover{
	color: #FF5722;
	transform: scale(0.8);
}
/* End contact section */
#googleMap {
    margin-bottom: -5px;
}
/* Start footer section */
.main-footer {
    background: #363636;
    color: white;
}
.copyrightCol p {
	color: #848484;
	margin: 0;
	padding: 10px 0;
}
.copyrightCol p a{
	color: #FF5722;
	text-decoration: none;
}
/* End footer section */
/* ScrollTop section */
.scrollUp{
	position: fixed;
	right: 25px;
	bottom: 25px;
	width: 45px;
	height: 45px;
	background: #fd905e9e;
	border-radius: 100%;
	font-size: 19px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.5s;
	z-index: 200;
}
.scrollUp:hover{
	background: #ff5722;
}
